name: Java CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Start application
        run: java -jar artifacts/app-ibank-build-for-testers.jar &

      - name: Wait for application
        run: sleep 15

      - name: Run tests
        run: ./gradlew test -Dselenide.headless=true --info