name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Start SUT
        run: java -jar ./artifacts/app-ibank-build-for-testers.jar &

      - name: Wait for SUT
        run: sleep 8

      - name: Run tests
        env:
          SELENIDE_BROWSER: chrome
          SELENIDE_HEADLESS: true
          SELENIDE_CHROME_ARGUMENTS: --no-sandbox,--disable-dev-shm-usage,--disable-gpu,--disable-dev-tools,--headless=new,--remote-allow-origins=*
        run: ./gradlew test --info

